@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  --color-dark1: #121212;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), sans-serif;
}
